<% provide(:title, "Trang chủ") %>
<%= render 'sessions/slide' %>

<!-- list of post -->

<div id="postlist">
<% @posts = Post.paginate(:page => params[:page], :per_page => 10).order('created_at DESC') %>
<div class="">
  <table>
    <% @posts.each do |post| %>
      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
        <div class = "row">
          <div class="col-md-3 col-md-offset-1" >
            <%= image_tag(post.image_url, :class => 'list_image center-block' ) %>
          </div>
          <div class="col-md-7 " id="post-each">
            <dl>
              <dt>
                <h2>
                  <strong>
                    <%= link_to post.title, post %>
                  </strong>
                </h2>
              </dt>
              <dd><%= truncate(strip_tags(post.description),
                     :length => 250) %></dd>
              <!--<dt> <span>tags</span> <%= post.keyword %></dt>-->
              <dt>Tags: <%= raw post.tag_list.map { |t| link_to t, tag_path(t)}.join(', ') %></dt>
              <dt><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> <%= post.count %></dt>
            </dl>
          </div>
        </div>  
      </tr>
    <% end %>
  </table><br />
  </div>
  <div class = "row">
    <div class="col-md-7 col-md-offset-3"><%= will_paginate @posts %></div>
  </div>

</div>
<!-- end-list of post-->

<script type="text/javascript">
  $(".owl-carousel").owlCarousel({
          slideSpeed : 300,
          paginationSpeed : 400,
          autoPlay: 6000,
          singleItem:true
  });
</script>