<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control", placeholder: "your user name" %> <br \>

      <%= f.label :email %>
      <%= f.email_field :email, class: "form-control", placeholder: "your email" %><br \>

      <%= f.label :password %>
      <%= f.password_field :password, class: "form-control", placeholder: "your password" %><br \>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: "form-control", placeholder: "confirm your password" %><br \>

      <%= f.submit "Create my account", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
