<%= form_for(@post) do |f| %>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <% if @post.errors.any? %>
        <div id="error_explanation">
          <div class="alert alert-danger">
            <h2>
              <%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:
            </h2>
          </div>
            <ul>
            <% @post.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
        <% end %>
    </div>
    <div class="col-md-8 col-md-offset-2">
      <div class="field">
       
        <%= f.text_field :title, class: "form-control", placeholder: "Type your title" %><br>
      </div>
      <div class="field">
      
        <%= f.text_area :description, :class => 'ckeditor'%><br>
      </div>

      <div class="field">
     
        <%= f.text_field :image_url, class: "form-control", placeholder: "Hinh dai dien" %><br>
      </div>
      <div class="field">
     
        <%= f.text_field :tag_list, class: "form-control", placeholder: "tags" %><br>
      </div>
      <button type="submit" class="btn btn-primary">Save</button>
      <%= link_to 'Back', posts_path, class: "btn btn-warning" %>
    </div>
  </div>
<% end %>


