<div class="col-md-4 col-md-offset-4">
  <% if params[:search] %>
    <h2>
      About <span style="color:#e65c00"><%= @posts.count %>
      </span> results found for <span style="color:#e65c00"><%= params[:search] %></span>
    </h2> 
  <% end %>

  <% if params[:tag] %>
    <h2>
      About <span style="color:#e65c00"><%= @posts.count %>
      </span> results found for <span style="color:#e65c00"><%= params[:tag] %></span>
    </h2> 
  <% end %>
</div>
<br>
<br>
<br>
  <table>
    <% @posts.each do |post| %>
      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
        <div class = "row">
          <div class="col-md-3 col-md-offset-1" >
            <%= image_tag(post.image_url, :class => 'list_image center-block' ) %>
          </div>
          <div class="col-md-7 " id="post-each">
            <dl>
              <dt>
                <h2>
                  <strong>
                    <%= link_to post.title, post %>
                  </strong>
                </h2>
              </dt>
              <dd><%= truncate(strip_tags(post.description),
                     :length => 250) %></dd>
              <!--<dt> <span>tags</span> <%= post.keyword %></dt>-->
              <dt>Tags: <%= raw post.tag_list.map { |t| link_to t, tag_path(t)}.join(', ') %></dt>
              <dt><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> <%= post.count %></dt>
            </dl>
          </div>
        </div>  
      </tr>
    <% end %>
  </table><br/>

  <div class = "row">
    <div class="col-md-7 col-md-offset-3"><%= will_paginate @posts %></div>
  </div>
