<div class="col-md-4 col-md-offset-4">
  <% if params[:search] %>
    <h2>
      About <span style="color:#e65c00"><%= @posts.count %>
      </span> results found for <span style="color:#e65c00"><%= params[:search] %></span>
    </h2> 
  <% end %>

  <% if params[:tag] %>
    <h2>
      About <span style="color:#e65c00"><%= @posts.count %>
      </span> results found for <span style="color:#e65c00"><%= params[:tag] %></span>
    </h2> 
  <% end %>
</div>
<br>
<br>
<div class = "row">
  <div class="col-md-4 col-md-offset-4"><%= will_paginate %></div>
</div>

  <table>
  <% @posts.each do |post| %>
    <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
      <div class = "row">
         <div class="col-md-8 col-md-offset-2">
          <dl>
            <dt>
              <h2>
                <strong>
                  <%= link_to post.title, post %>
                </strong>
              </h2>
            </dt>
            <dd><%= truncate(strip_tags(post.description),
                   :length => 120) %></dd>
            <!--<dt> <span>tags</span> <%= post.keyword %></dt>-->
            <dt>Tags: <%= raw post.tag_list.map { |t| link_to t, tag_path(t)}.join(', ') %></dt>
            <dt> <span>Views</span> <%= post.count %></dt>
          </dl>
        </div>
        <!--
        <div class="col-md-4">
          <% if logged_in? %>
            <% if current_user.admin? %>
              <%= link_to 'Destroy' , post, class: "btn btn-danger",
                  :confirm => 'Are you sure?' ,
                  :method => :delete %>
            <% end %>
          <% end %>
        </div>
      -->
      </div>  
    </tr>
  <% end %>
  </table><br />

<div class = "row">
  <div class="col-md-4 col-md-offset-4"><%= will_paginate %></div>
</div>
