<% provide(:title, "Tìm kiếm") %>
<p id="notice"><%= notice %></p>
<head>
</head>
<body>
  <div class = "container">
    <div class="row"> 
      <div class="col-md-6 col-md-offset-3">
        <%= form_tag(posts_path, :method => "get", id: "search-form") do %>
          <div class="input-group " >
            <%= text_field_tag :search, params[:search],class: "form-control input-lg", 
                                placeholder: "Tìm theo tiêu đề" %>
            <div class="input-group-addon">
              <button type="submit" class="btn-link" >
              <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
              </button>
            </div>
          </div>
        <% end %>
      </div>
            <!--most use tags -->
      <div class="tags col-md-6 col-md-offset-3" id ="50tags"> Tags :
        <%= raw ActsAsTaggableOn::Tag.most_used(50).map { |t| link_to t, tag_path(t.name)}.join(', ') %>
      </div>
    </div>
    <% if @posts.present? %>
      <script type="text/javascript">
        $('#50tags').remove();
      </script>
      <%= render 'posts/output' %>
    <% end %>
  </div>
</body>


