<% provide(:title, @post.title) %>
<body>
  <div class = "container" id="show">
    <div class = "col-md-10 col-md-offset-1">
      <div class = "post_info">
        <span><%= @post.created_at %></span>&nbsp;&nbsp;
        <span>Tags: <strong><%= raw @post.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></strong>
        </span>&nbsp;
        <span>
          Views: <strong><%= @post.count %></strong>&nbsp;&nbsp;
        </span>
        <span class = "">
          <% if logged_in? %>
            <% if current_user.admin? %>
              <%= link_to raw( "<span class = 'glyphicon glyphicon-edit'> Edit</span>") , edit_post_path(@post), class: "btn btn-link" %> 
              <%= link_to raw( "<span class = 'glyphicon glyphicon-trash'> Delete </span>") , @post ,
                  class: "btn btn-link",
                  :confirm => 'Are you sure?' ,
                  :method => :delete %>
            <% end %>
          <% end %>
        </span>
      </div>
      <div class = 'title'>
        <%= @post.title %>
      </div>
      <div class="description">
        <%= @post.description.html_safe %>
      </div><br>
      <!--FB comment -->
      <div class='comment'>
        BÌNH LUẬN
      </div>
      <div id="fb-root"><div class="fb-comments" data-href="<%= @post_path %>" data-width="100%" data-num-posts="2"></div></div>
    </div>
  </div>
  
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/vi_VN/all.js#xfbml=1&appId=504323752911178";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
</body>

